<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Nuggies afk</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/Highlight-Clean.css">
    <link rel="stylesheet" href="assets/css/styles.css">
	<script async src="https://arc.io/widget.min.js#uq9EDKsg"></script>
</head>

<body>
    <div id="particles-js"></div><script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js" ></script>
<script>
  particlesJS.load('particles-js', function() {
  });
</script>
    <section class="highlight-clean">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Nuggies AFK</h2>
                <p class="text-center" id="points">Current points:</p>
            </div>
            <div class="buttons"></div>
        </div>
    </section>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/ads.js"></script>
    <script src="assets/js/particles.js"></script>
    <script src="assets/js/points.js"></script>
</body>

</html>