:root {
  --background: black;
  --text: white;
  --buttons: purple;
  --buttons-hover: grey;
}

body {
  background-color: var(--background);
}

.highlight-clean {
  background-color: rgba(0,0,0,0);
  color: white;
}

p {
  color: white;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000000;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  z-index: -1;
}

